body {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

h1 {
  font-size: 110px;
  position:relative;
  z-index: 2;
}

p {
  font-size: 96px;
}

img {
  z-index: 0;
  position:relative;
}

img:hover{
            behavior:url(-ms-transform.htc);
            /* Firefox */
            -moz-transform:rotate(360deg);
            /* Safari and Chrome */
            -webkit-transform:rotate(360deg);
            /* Opera */
            -o-transform:rotate(360deg);
            /* IE9 */
            -ms-transform:rotate(360deg);
            /* IE6,IE7 */
            -webkit-transition-duration: 5s; /* Safari */
            transition-duration: 5s;
            }
