body {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  overflow: hidden;
}

/*h1 {
  font-size: 110px;
  position:relative;
  z-index: 2;
}*/

p {
  font-size: 96px;
}

/*.style1 {
  font-size: 80px;
  color: blue;
  font-family: sans-serif;
}*/

img {
  z-index: 0;
  position:relative;
  /*width: 80%;*/
  max-height: 80%;
  margin-top: 40px;
}

img:hover{
            behavior:url(-ms-transform.htc);
            /* Firefox */
            -moz-transform:rotate(36000deg);
            /* Safari and Chrome */
            -webkit-transform:rotate(36000deg);
            /* Opera */
            -o-transform:rotate(36000deg);
            /* IE9 */
            -ms-transform:rotate(36000deg);
            /* IE6,IE7 */
            -webkit-transition-duration: 700s; /* Safari */
            transition-duration: 700s;
            }
